* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.card {
    background-image: url(./img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 500px;
    background-color: blue;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}